<div [ngSwitch]="isMobile" [class.invalid]="invalid">
	<div *ngSwitchCase="true">
		<input type="date" #input [disabled]="disableInput || disablePicker" [placeholder]="placeholder" [value]="mobileFormattedDate" (change)="setDate($event.target.value)" [tabindex]="inputTabIndex" [min]="min" [max]="max" />
	</div>
	<div *ngSwitchDefault>
		<div class="ngx-picker">
			<input type="text" #input [disabled]="disableInput || disablePicker" [placeholder]="placeholder" (click)="pickerVisible = !pickerVisible" [value]="formattedDate" (change)="setDate($event.target.value)" [tabindex]="inputTabIndex"
			/>
			<button class="btn btn-outline-secondary" type="button" [disabled]="disableButton || disablePicker" (click)="pickerVisible = !pickerVisible">
				<span class="oi oi-calendar"></span>
                <span class="oi oi-chevron-bottom"></span>
			</button>
			<ngx-date *ngIf="pickerVisible" (closeDatePicker)="closePicker($event)" (selectedDateChange)="newDatePicked($event)" [selectedDate]="selectedDate" [min]="min" [max]="max">
			</ngx-date>
		</div>
	</div>
</div>
