<div [ngSwitch]="isMobile" [class.invalid]="invalid">
	<div *ngSwitchCase="true">
		<input type="datetime-local" [disabled]="disableInput || disablePicker" [placeholder]="placeholder" [value]="mobileFormattedDate" (change)="setDateTime($event.target.value)"
		/>
	</div>
	<div *ngSwitchDefault>
		<div class="ngx-picker">
			<input type="text" [disabled]="disableInput || disablePicker" [placeholder]="placeholder" (click)="pickerVisible = !pickerVisible" [value]="formattedDate" (change)="setDateTime($event.target.value)"
			/>
			<button type="button" class="btn btn-outline-secondary" [disabled]="disableButton || disablePicker" (click)="pickerVisible = !pickerVisible">
				<span class="oi oi-calendar"></span>
				<span class="oi oi-chevron-bottom"></span>
				</button>
			<ngx-date [hidden]="!pickerVisible" includeTime="true" (closeDatePicker)="closePicker($event)" (selectedDateChange)="newDatePicked($event)"
			 [selectedDate]="selectedDateTime"> </ngx-date>
		</div>
	</div>
</div>
